body {
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(#fae4dc, #e25d28);
}

a {
  text-decoration: none;
  list-style: none;
}

nav {
  text-align: center;
  padding: 30px 0;
  background: linear-gradient(#fcf0eb, #fae4dc);
  position: fixed;
  width: 100%;
  box-shadow: 0 6px 3px -3px #fcf0eb;
}

nav a {
  padding: 0 1.5rem;
}

img {
  width: auto;
  height: 50%;
}

/*div:not(:last-child) {

}*/

div {
  height: calc(100vh - 78.4px);
  display: flex;
  flex-direction: column wrap;
  justify-content: space-around;
  /*border: 2px solid black;*/
  align-items: center;
}

div p:not(#but) {
  width: 500px;
  font-size: 46px;
  text-align: center;
}

#intro {
  padding-top: 80px;
}

#retail {
}

#ba {
}

#retail2 {
}

#libraries {
}

#mlis {
}

#librarian {
}

#but {
  font-weight: 700;
  font-size: 500px;
  text-transform: uppercase;
  text-shadow: -20px -20px #333,
               -40px -40px #666,
               -60px -60px #999;
}

#but p {
  margin: 0;
  padding: 0;
}

#coding {
}

#shiftUp {
}

#obstacles {
}

#oneDay {
}

#contact {
  /*text-align: center;*/
  flex-direction: column;
  justify-content: center;
}
